body{
  font-family:Helvetica;
}
h1 {
  font-size:100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  background-image: url(/Users/timothyflynn/Desktop/2019/Projects/Dasmoto/resources/pattern.jpeg);
}
h2 {
  font-weight: bold;
  color:white;
}
#Brushes {
  font-size: 32px;
  background-color: mediumspringgreen;
}
#Frames{
  font-size: 32px;
  background-color: lightcoral
}
#Paint {
  font-size: 32px;
  background-color: skyblue
}
.price {
  font-weight: bold;
  color:blue;
}
